<div class="container-fluid bg-primary">
    <div class="container text-light">
        <div class="row align-items-center justify-content-around pt-4">
            <div class="col-12 col-lg-3 d-none d-lg-block">
                <h2 class="fw-bold">Sor~Car</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                <h4>Service kami</h4>
                <p>Home</p>
                <p>Armada kami</p>
                <p>Tentang kami</p>
            </div>
            <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                <h4>Cabang kami</h4>
                <p>Kabupaten aimas</p>
                <p>Kota sorong</p>
                <p>Teminabuan</p>
            </div>
            <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                <h4>Kontak Kami</h4>
                <p>085377777979</p>
                <p>permanaarief8@gmail.com</p>
                <div class="d-flex align-items-center">
                    <img class="me-2" src="images/footer-contactus-telegram.png" alt="contact us telegram">
                    <img class="me-2" src="images/footer-contactus-instagram.png" alt="contact us instgram">
                    <img src="images/footer-contactus-facebook.png" alt="contact us facebook">
                </div>
            </div>
            <div class="col-12 mt-3">
                <p class="fw-bold text-center">Copyright&#169;RiefDev</p>
            </div>
        </div>
    </div>
</div>