<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="images/car-rental.png" type="image/x-icon">
    <link rel='stylesheet' href='stylesheets/custom-bootstrap.min.css' />
    <script src="https://kit.fontawesome.com/f8405fe6d9.js" crossorigin="anonymous"></script>
    
    <title><%= title %></title>
  </head>
  <body>
    <!--* Header -->
    <%- include('./partials/header'); %>

    <!--* Content -->
    
    <!--* Landing page  -->
    <div class="container mt-3">
      <div class="row align-items-center">
        <div class="col-12 col-lg-5">
          <h2 class="lh-base fw-bold">
            Rental mobil dengan berbagai armada yang terbaik dan terjangkau
          </h2>
          <p class="fw-light lh-base mb-2">
            Performa mobil yang mulus dan nyaman untuk di kendarai. 
            <span class="d-none d-lg-block">
              Fungsional mobil yang selalu dicheck & diperbaiki, 
              Pengurusan administrasi yang tervalidasi & akurat.
            </span>
          </p>
          <button type="button" class="btn btn-primary text-light shadow fw-bold">Booking a car</button>
        </div>
        <div class="col-12 col-lg-7 d-flex justify-content-center">
          <img src="images/car-landing-page.png" alt="" class="img-fluid d-none d-lg-block">
        </div>
      </div>
    </div>

    <!--* Our service -->
    <div class="container mt-5 mb-5 mb-lg-0">
      <div class="row">
        <div class="col-12 d-flex flex-column text-center">
          <h5 class="text-primary fw-bold">Service Kami</h5>
          <h3 class="mb-4 text-muted">
            Cepat di tanggapi dan <br> dapat di akses dengan muda
          </h3>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch border border-1 shadow rounded">
          <img class="img-fluid" src="images/service-cs.png" alt="">

          <!-- <div class="card text-bg-primary text-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Tranport ke Bandara</h5>
              <p class="card-text">Dengan waktu tunggu tambahan dan pelacakan keberangkatan jika terjadi penundaan, layanan kami dioptimalkan untuk memudahkan setiap pengantaran ke bandara.</p>
            </div>
          </div> -->
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch">
          <div class="card text-bg-primary text-light ">
            <img src="images/service-ridescity.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Wahana Antar Kota</h5>
              <p class="card-text">Solusi bebas stres Anda untuk bepergian antar kota, dengan sopir di seluruh dunia.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch">
          <div class="card text-bg-primary text-light">
            <img src="images/service-vansprinter.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Van Sprinter</h5>
              <p class="card-text">Anda sekarang dapat memesan van sprinter bersopir dengan tempat duduk hingga 12 orang dengan Kelas Sprinter baru "Limousine".</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch">
          <div class="card text-bg-primary text-light">
            <img src="images/service-fastandsafe.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Cepat dan Aman</h5>
              <p class="card-text">Proses transaksi selesai dalam 24 jam dan terintegrasi ke banyak bank.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--* Our armada -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 d-flex flex-column text-center mt-5">
          <h5 class="text-primary fw-bold">Armada Kami</h5>
          <h3 class="text-muted mb-4">Cari mobil terbaikmu dari brand ternama</h3>
        </div>

        <div class="col-lg-12 d-lg-flex justify-content-around">
          <button type="button" class="btn btn-primary text-light p-3 shadow fw-bold">
            <div class="d-lg-flex align-items-center">
              <img class="img-fluid me-2" src="images/honda-logo.png" alt="">
              Honda
            </div>
          </button>
          <button type="button" class="btn btn-light p-3 fw-bold">
            <div class="d-lg-flex align-items-center">
              <img class="img-fluid me-2" src="images/nissan-logo.png" alt="">
              Nissan
            </div>
          </button>
          <button type="button" class="btn btn-light p-3 fw-bold">
            <div class="d-lg-flex align-items-center">
              <img class="img-fluid me-2" src="images/audi-logo.png" alt="">
              Audi
            </div>
          </button>
          <button type="button" class="btn btn-light p-3 fw-bold">
            <div class="d-lg-flex align-items-center">
              <img class="img-fluid me-2" src="images/mazda-logo.png" alt="">
              Mazda
            </div>
          </button>
          <button type="button" class="btn btn-light p-3 fw-bold">
            <div class="d-lg-flex align-items-center">
              <img class="img-fluid me-2" src="images/toyota-logo.png" alt="">
              Toyota
            </div>
          </button>
        </div>

        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondabrio.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda Brio</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7 align-items-center"><img src="images/card-icon-passager.png" alt=""> 5 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7 align-items-center"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Automatic</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">150K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondahrv.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda HRV</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-passager.png" alt=""> 5 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Automatic</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">200K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondamobilio.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda Mobilio</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-passager.png" alt=""> 7 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Manual</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">180K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondaaccord.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda Accord</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-passager.png" alt=""> 5 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Manual</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">300K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondaaccord.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda Accord</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-passager.png" alt=""> 5 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Manual</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">300K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondamobilio.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda Mobilio</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-passager.png" alt=""> 7 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Manual</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">180K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondahrv.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda HRV</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-passager.png" alt=""> 5 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Automatic</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">200K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 mt-5">
          <div class="card shadow">
            <img class="img-fluid p-2" src="images/card-book-hondabrio.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Honda Brio</h5>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7 align-items-center"><img src="images/card-icon-passager.png" alt=""> 5 Penumpang</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7 align-items-center"><img src="images/card-icon-door.png" alt=""> 4 Pintu</p>
              </div>
              <div class="row">
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-air.png" alt=""> AC Terkondisi</p>
                <p class="col-12 col-lg-6 text-muted mb-0 fs-7"><img src="images/card-icon-control.png" alt=""> Automatic</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="row d-lg-flex align-items-center">
                <h5 class="col-12 col-lg-6 fw-bold mb-2 mb-lg-0 text-center text-lg-start">150K/hari</h5>
                <a href="" class="col-12 col-lg-6 btn btn-primary text-light fw-bold">Booking</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3 d-flex justify-content-center">
          <button class="btn btn-primary text-light fw-bold p-3 w-lg-25">Semua mobil <i class="fa-solid fa-arrow-right-long ms-2"></i></button>
          
        </div>

      </div>
    </div>

    <div class="mt-5">

    </div>

    <!--* Footer -->
    <footer>

    </footer>
    <script src="bootstrap.bundle.js"></script>
  </body>
</html>
