<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="images/car-rental.png" type="image/x-icon">
    <link rel='stylesheet' href='stylesheets/custom-bootstrap.min.css' />
    
    <title><%= title %></title>
  </head>
  <body>
    <!--* Header -->
    <%- include('./partials/header'); %>

    <!--* Content -->
    
    <!--* Landing page  -->
    <div class="container mt-3">
      <div class="row align-items-center">
        <div class="col-12 col-lg-5">
          <h2 class="lh-base fw-bold">
            Rental mobil dengan berbagai armada yang terbaik dan terjangkau
          </h2>
          <p class="fw-light lh-base mb-2">
            Performa mobil yang mulus dan nyaman untuk di kendarai. 
            <span class="d-none d-lg-block">
              Fungsional mobil yang selalu dicheck & diperbaiki, 
              Pengurusan administrasi yang tervalidasi & akurat.
            </span>
          </p>
          <button type="button" class="btn btn-primary text-light shadow fw-bold">Booking a car</button>
        </div>
        <div class="col-12 col-lg-7 d-flex justify-content-center">
          <img src="images/car-landing-page.png" alt="" class="img-fluid d-none d-lg-block">
        </div>
      </div>
    </div>

    <!--* Our service -->
    <div class="container mt-5 mb-3 mb-lg-0">
      <div class="row">
        <div class="col-12 d-flex flex-column text-center">
          <h3 class="text-primary fw-bold">Service Kami</h3>
          <h5 class="mb-4 text-muted">
            Cepat di tanggapi dan <br> dapat di akses dengan muda
          </h5>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch">
          <div class="card text-bg-primary text-light">
            <img src="images/service-airporttf.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Tranport ke Bandara</h5>
              <p class="card-text">Dengan waktu tunggu tambahan dan pelacakan keberangkatan jika terjadi penundaan, layanan kami dioptimalkan untuk memudahkan setiap pengantaran ke bandara.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch">
          <div class="card text-bg-primary text-light ">
            <img src="images/service-ridescity.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Wahana Antar Kota</h5>
              <p class="card-text">Solusi bebas stres Anda untuk bepergian antar kota, dengan sopir di seluruh dunia.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch">
          <div class="card text-bg-primary text-light">
            <img src="images/service-vansprinter.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Van Sprinter</h5>
              <p class="card-text">Anda sekarang dapat memesan van sprinter bersopir dengan tempat duduk hingga 12 orang dengan Kelas Sprinter baru "Limousine".</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-lg-flex align-items-lg-stretch">
          <div class="card text-bg-primary text-light">
            <img src="images/service-fastandsafe.png" alt="">
            <div class="card-body">
              <h5 class="card-title fw-bold">Cepat dan Aman</h5>
              <p class="card-text">Proses transaksi selesai dalam 24 jam dan terintegrasi ke banyak bank.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--* Our Fleets -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 d-flex flex-column">
          <h3 class="text-primary fw-bold">Armada Kami</h3>
        </div>
      </div>
    </div>

    <div class="mt-5">

    </div>

    <!--* Footer -->
    <footer>

    </footer>
    <script src="bootstrap.bundle.js"></script>
  </body>
</html>
