<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.min.css' />
  </head>
  <body>

    <script src="bootstrap.min.js"></script>
  </body>
</html>
