<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="shortcut icon" href="../images/car-rental.png" type="image/x-icon">
    <link rel='stylesheet' href='../stylesheets/custom-bootstrap.min.css' />
</head>
<body>
    <div class="container full-height">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row align-items-center shadow p-0 rounded w-75">
                <div class="col-6 ps-0 w-auto d-none d-lg-block">
                    <img class="img-fluid" src="../images/signup/background-dekstop.png" alt="">
                </div>
                <div class="col-12 col-md-6 ps-lg-5 p-2">
                    <h4 class="fw-bold">Sign Up</h4>
                    <p class="fs-7 text-muted">
                        Bergabunglah dengan kami, kamu akan <br>
                        mendapatkan service yang terbaik buat kamu
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>