<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="shortcut icon" href="../images/car-rental.png" type="image/x-icon">
    <link rel='stylesheet' href='../stylesheets/custom-bootstrap.min.css' />
</head>
<body>
    <div class="container full-height">
        <div class="row h-100 mt-5 me-1 ms-1 m-lg-0 justify-content-center align-items-center">
            <div class="row align-items-center shadow-lg p-0 rounded-4 w-auto">
                <div class="col-6 ps-0 w-auto d-none d-lg-block">
                    <img class="img-fluid" src="../images/signup/background-dekstop.png" alt="">
                </div>
                <div class="col-12 col-lg-6 p-3 p-lg-3 align-items-center">
                    <h3 class="mb-5 fw-bold text-primary d-lg-none text-center">Sor~Car</h3>
                    <h4 class="fw-bold">Sign Up</h4>
                    <p class="fs-7 text-muted">
                        Bergabunglah dengan kami, kamu akan <br>
                        mendapatkan service yang terbaik buat kamu
                    </p>
                    <form action="">
                        <div class="input-group bg-skyblue rounded-3 p-2 ps-3 pe-3 align-items-center mb-3">
                            <span class="inpu-group-text me-2"><img src="../images/signup/input-username.png" alt=""></span>
                            <input class="form-control rounded-2 bg-skyblue border-0" type="text" name="username" id="username" aria-label="username" placeholder="ariefpss">
                        </div>
                        <div class="input-group bg-skyblue rounded-3 p-2 ps-3 pe-3 align-items-center mb-3">
                            <span class="inpu-group-text me-2"><img src="../images/signup/input-email.png" alt=""></span>
                            <input class="form-control rounded-2 bg-skyblue border-0" type="email" name="email" id="email" aria-label="email" placeholder="permanaarief8@gmail.com">
                        </div>
                        <div class="input-group bg-skyblue rounded-3 p-2 ps-3 pe-3 align-items-center mb-3">
                            <span class="inpu-group-text me-2"><img src="../images/signup/input-password.png" alt=""></span>
                            <input class="form-control rounded-2 bg-skyblue border-0" type="password" name="password" id="password" aria-label="password" placeholder="•••••">
                        </div>
                        <button class="btn btn-primary fw-bold text-light p-2 w-100" type="submit">Sign Up</button>
                    </form>
                    <p class="text-muted mt-4">Sudah punya akun? <a class="fw-bold link-primary" href="#">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>